.block
{
  display: block;
  background-color: #DBDADA;
  width: 22%;
  height:5%;
  margin-bottom: 0.5%;
  border-radius: 5px;
  padding:0.5%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: black;
}

.block:hover
{
  background-color: #ABAAAA;
  cursor: pointer;
}

.img_profil
{
  margin-top: 5%;
  margin-left: 45.5%;
  border-radius: 50%;
  width: 125px;
  height: 120px;
  margin-bottom: 2%;
}

.fleche
{
  float: right;
  margin-right: 1%;
}

.titre_p_n
{
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 1%;
}

.titre_mes_chevaux
{
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1.6em;
}

.imgs_fav
{
  display: block;
  width: 22%;
  height: 10%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.img_che_fav
{
  margin-top: 1%;
  border-radius: 50%;
  width: 55px;
  height: 50px;
}

.img_che_fav:hover
{
  cursor:pointer;
  opacity: 0.5;
}

.images_photo_profil
{
  position: absolute;
  display: none;
  width: 30%;
  height: 40%;
  margin-left: 65%;
  margin-top: -35%;
  text-align: center;
}

.images_photo_profil h1
{
  font-size: 1.8em;
}

.btn-valider-photo
{
  width: 20%;
  border-radius: 5px;
  margin-top: 3%;
  height: 40px;
  cursor: pointer;
  border: 1px solid black;
}

.btn-valider-photo:hover
{
  border: 1px solid black;
}

.img_choix_profil
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img_modif_profil
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.img_modif_profil::after
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.supprimer
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -12.5%;
  margin-top:-3%;
  opacity: 0.3;
}

#modifier_images
{
  position: absolute;
  display: none;
  width: 30%;
  height: 40%;
  margin-top: -35%;
  text-align: center;
}

#modifier_images h1
{
  font-size: 1.8em;
}
