.img-fluid-pop-up-pension
{
  max-width: 450px;
  height: 250px;
  margin-left: -55%;
}

.desc-chevaux-popup-pension
{
  margin-left:45% !important;
  margin-bottom:10%;
}

.desc-chevaux-popup-deco-pension
{
  margin-left:45% !important;
}

.text-popup
{
  margin-left:0;
}
